<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<form method = "post">
    <div th:each="user : ${users}" class="checkbox">
        <span th:unless="${user.admin}" >
        <input type="checkbox" name="userIds" th:value="${user.id}" th:id="${user.id}"/>
        <label th:for="${user.id}" th:text="${user.toString()}"></label></span>
        <br />
    </div>
    <input type = "submit" value = "add admins"/>
</form>

</body>
</html>