<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>


<h1 th:text="${title}">Default Title</h1>


    <div th:if="${userFromSession.admin}">

        <a href="/user/select">assign building</a>
        <br/>
        <a href = "/user/add-admin">add admins</a>

    </div>


    <h4>My Buildings</h4>


    <table  class="table">
    <div th:each="building : ${buildings}">

     <tr><a th:href=" '/evaluation/' + ${building.id}" th:text="${building.address}"></a></tr>

        <form th:if="${building.relatedEvaluation.id} == null" type =
    </div>




</body>
</html>