<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<p> Assigning Building to User <span th:text = "${userName}"></span></p>
<div th:replace="fragments :: userBuildings"></div>

<p> Searching in Ward  <span th:text = "${wardNum}"></span></p>

<form  method = "post" action="/user/select-building">

    <div class = "form-group" >
        <label>Street Name</label>
        <select name = "streetname">
            <option th:each="streetname:${streets}"
            th:text="${streetname}"
            th:value="${streetname}"></option>
        </select>

        <input type = "hidden" name="userId"  th:value="${userId}" />

        <input type = "hidden" name="wardNum"  th:value="${wardNum}" />
    <input type = "submit" value="Select Street" />
    </div>

</form>




</body>
</html>