<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}"></h1>

<p> Assigning Building to User <span th:text = "${userName}"></span></p>
<div th:replace="fragments :: userBuildings"></div>

<p> Searching in Ward  <span th:text = "${wardNum}"></span></p>
<p> Searching by Street: <span th:text="${streetname}"></span></p>

<form  method = "post" action = "/user/assign-building">
    <div class = "form-group">
        <label th:for="buildingId">Building</label>
        <select name = "buildingId">
            <option th:each="building:${buildingsFiltered}"
                    th:text="${building.address}"
                    th:value="${building.id}"></option>
        </select>
    </div>

    <input type = "hidden" name="userId"  th:value="${userId}" />
    <input type = "submit" value="Assign Building to User" />

</form>

</body>
</html>

