<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}">Default Title</h1>
<!--TODO: display users with links to their individual assign-building pages-->
<!--TODO later: include the assigned buildings or number of buildings next to user name-->
<!--TODO: display user full name-->



<form  th:object="${form}"  method = "post" action = "/user/select-street">
    <div class = "form-group">
        <label th:for="User">User</label>
        <select name = "userId">
            <option th:each="user:*{userList}"
                    th:text="${user.firstName}"
                    th:value="${user.id}"></option>
        </select>
    </div>

    <div class = "form-group">
        <label th:for="ward">Ward</label>
        <select name = "wardNum">
            <option th:each="wardNum:*{wardList}"
                    th:text="${wardNum}"
                    th:value="${wardNum}"></option>
        </select>
    </div>

    <input type = "submit" value="Do This Now" />

</form>


</body>
</html>