<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>


<h1 th:text="${title}">Default Title</h1>


<!--

TODO: long-term, I would like to know if the building has other users assigned to it as well
and add links


-->
<h3>Someday, not all that long from now, this list will link to the evaluation form!</h3>



<ul>
    <li th:each = "building:${buildings}" th:text="${building.address}"></li>
</ul>

<p th:unless="${buildings.size()}">No buildings on the list</p>


<!--
<p>
    <a th:href ="'/user/assign-building/'+${userId}">Assign Building</a>
</p>
-->

</body>
</html>