<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>


<h1 th:text="${title}">Default Title</h1>


<!--
TODO: long-term, I would like to know if the building has other users assigned to it as well
-->

<h3>Someday, not all that long from now, this list will link to the evaluation form!</h3>
<h4>Still to do: links to assign additional buildings</h4>
<!--TODO: what I say above-->

<ul>
    <li th:each = "building:${buildings}" th:text="${building.address}"></li>
</ul>

<p th:unless="${buildings.size()}">No buildings assigned to this user yet</p>


</body>
</html>