<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>


<h1 th:text="${title}">Default Title</h1>


<!--

TODO: give me the user's name
give me the list of buildings assigned to this user
long-term, I would like to know if the building has other users assigned to it as well
so in the controller I need to fid the buildings assigned to this user
ok then

<ul>
    <li th:each = "building:${buildings}" th:text="${building.address}"></li>
</ul>

<p th:unless="${buildings.size()}">No buildings on the list</p>
-->

<p>
    <a th:href ="'/user/assign-building/'+${userId}">Assign Building</a>
</p>

</body>
</html>