
body {
    background-color: #d88579;
}

label {
    color:#4f0608;
    }

.form-control{
            display:block;width:90%;padding:.5rem .75rem;font-size:1.5rem;line-height:1.5;
            color:#4f0608;
            font-family: "Courier New", Courier, serif;
}

textarea.form-control{
    height: 100px;
}

textarea.form-control:focus { border:2px solid #333; }


#evalphotodiv  {  max-height: 275px;  }

#evalphoto {
    max-height: 400px;
    padding-bottom: 25px;
}

img  {
    float: right;
}

#mapid {
    height: 400px;
    width: 45%;
    padding-bottom: 25 px;
}

nav a {  margin-bottom: 20px;
        color: #1b1830;
        }

